.Header{
    background-color: green;
    text-align: center;
    font-size: large;
    color: white;
    padding:7px;
    border-radius:4px;
}
body{
    font-size: large;
    background:linear-gradient(#93e4c1,#3baea0,#5fc9f3, #2772db);
}
.title{
    text-align: center;
}
.Group_Logo{
    width: 100px;
    height: 100px;
    border-radius:4px;
}
.class_img{
    width: 100px;
    height: 80px;
    border-radius:4px;
}
.school_logo{
    width: 100px;
    height: 80px;
    border-radius:4px;
}
.school_img{
    width: 140px;
    float: left;
    padding-top: 10px;
}
.logo{
    width: 120px;
    float: left;
    padding-top: 10px;
}


.class{
    width: 50px;
    float: left;
    padding-top: 10px; 
    border-radius:4px;  
}
footer{
    background-color: rgb(58, 95, 177);
    color: white;
    text-align: center;
    padding:6px;
    border-radius:4px;
}